# ─── App ───
PORT=3000
NODE_ENV=development

# ─── Database ───
DB_DRIVER=sqlite
DB_PATH=./data/hn-crawler.sqlite
MONGO_URI=mongodb://localhost:27017/hn-crawler

# ─── Redis ───
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_TTL=300

# ─── Crawler ───
URLS_TO_CRAWL=https://news.ycombinator.com/