# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.*
!.env.example
!frontend/.env.local.example


# Tests
coverage/

# SQLite
*.db
*.sqlite
*.sqlite3

# Logs
*.log
data/*.sqlite
data/*.sqlite-journal

frontend/.env.local
frontend/.env*.local
!frontend/.env.local.example

*.tsbuildinfo